.dashboardContainer {
  padding: 1rem;
}

.Card:hover{
    background: #f5f5f5;
}

.cardRow {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.cardContent {
  display: flex;
  gap: 1rem;
  align-items: center;
}


.cardTextItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
p  , h2{
     padding: 0;
    margin: 0;
}

h2{
    font-size: large;
}
p{
   
    color: rgb(143, 143, 143);
    font:500;
}
